/* al inicio de tu archivo CSS */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');


:root {
    --pigment-green:    #4CAF50;
    --persian-pink:     #F288C0;
    --persian-red:      #C1362C;
    --red-violet:       #c62884;
    --vermilion:        #f44336;
    --white:            #ffffff;
    --rose:             #FD0086;
    --pink:             #FFC0CB;
    --gray:             #767676;
}